@import "tailwindcss";

@theme {
    --font-sans: 'Instrument Sans', system-ui, sans-serif;
}

@utility scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
    body {
        background-color: black;
        color: white;
        font-family: 'Instrument Sans', system-ui, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}